@charset "ISO-8859-1";
body{
    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

nav#navb {
    margin: 0px;
    width: 102%;
    position: relative;
    right: 15px;
    height:80px;
}

/* form */

section#card {
    width: 70%;
    position: relative;
    left: 15%;
    top: 75px;
    border-radius: 20px;
}

label.label1 {
    position: relative;
    top: 5px;
}

select#location {
    margin-left: 10px;
}

label.label2 {
    position: relative;
    top: 5px;
    margin-left: 40px;
}

select#category {
    margin-left: 10px;
}

.form-row {
    margin-top: 30px;
}

select#price {
    margin-left: 33px;
}

label.label3{
        position: relative;
	    top: 2px;
	    margin-right: 10px;
	    padding-top: 4px;
}

label.label4 {
   	margin-top: 5px;
    margin-left: 38px;
    margin-right: 10px;
}

label.label5{
	margin-right:19px;
	padding-top:5px;
}

label.label6{
	margin-left:38px;
	padding-top:5px;
	margin-right:31px;
}

input#phoneno{
	width:248px;
}

label.label7{
	padding-top:5px;
	margin-right:37px;
}

label.label8 {
    margin-left: 38px;
    padding-right: 20px;
}
.col-2 button {
    position: relative;
    left: 900px;
}
.col-12 button {
    position: relative;
    left: 900px;
    width: 100px;
}

.label3, .label5, .label7 {
    margin-left: 5px;
}